body{
    background: #f4f5f5;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
ul,ol{
    list-style:none;
    margin:0px;
    padding: 0px;
}

/* 内置基础内容盒子样式 */
.s-basic-container {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
.s-header-title{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color:#303133;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dcdfe6;
}
/* 内置按钮样式 */
.s-btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px
}
.s-btn:hover,.s-btn:focus {
    background: #fff;
    border-color: #409eff;
    color: #409eff;
}

.s-btn-primary {
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
}
.s-btn-primary:hover,.s-btn-primary:focus{
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
}

.s-btn-success {
    color: #67c23a;
    background: #f0f9eb;
    border-color: #c2e7b0;
}
.s-btn-success:hover,.s-btn-success:focus{
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
}

.s-btn-info {
    color: #909399;
    background: #f4f4f5;
    border-color: #d3d4d6;
}
.s-btn-info:hover,.s-btn-info:focus{
    color: #fff;
    background-color: #909399;
    border-color: #909399;
}

.s-btn-warning {
    color: #e6a23c;
    background: #fdf6ec;
    border-color: #f5dab1;
}
.s-btn-warning:hover,.s-btn-warning:focus{
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
}

.s-btn-danger {
    color: #f56c6c;
    background: #fef0f0;
    border-color: #fbc4c4;
}
.s-btn-danger:hover,.s-btn-danger:focus{
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
}

.s-btn-mini {
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 3px;
}
.s-is-round {
    border-radius: 20px;
    padding: 12px 23px;
}

/* 内置表单样式 */
.s-form{
    display: block;
    width: 460px;
    margin: 0 auto;
}
.s-form-item{
    margin-bottom: 22px;
}
.s-form-item__label{
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}
.s-form-item__content{
    line-height: 40px;
    position: relative;
    font-size: 14px;
    margin-top: 10px;
}
.s-form-input{
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;

    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.s-form-input:focus{
    outline: none;
    border-color: #409eff;
}

.s-form-textarea{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px;

    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.s-form-textarea:focus{
    outline: none;
    border-color: #409eff;
}

/* 内置分割线 */
.s-divider{
    display: block;
    height: 1px;
    width: 100%;
    margin: 24px 0;
    background-color: #dcdfe6;
    position: relative;
}